#container {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-bottom: 15px;
	margin: 0px 10px 10px 10px;
	width: 64vw;
	height: 38vh;
	background-color: #fff;
}
